<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="launchy-beta" />
	<package id="7zip" />
	<package id="git" />

	<!-- plugin for cmd.exe to support bash / readline like behaviour -->
	<package id="clink" />

	<!-- console emulator for windows, supports tabs and much more -->
	<package id="ConEmu" />

	<!-- Freeware replacement for windows search -->
	<package id="everything" />

	<!-- Screenshot programm with a lots of additonal features -->
	<package id="greenshot" />

	<!-- Editors -->
	<package id="notepadplusplus" />
	<package id="vim" />

	<!-- fast and confortable way to edit enviroment variables -->
	<package id="rapidee" />

	<package id="sysinternals" />

	<package id="vlc" />

	<!-- Makes it possible to copy&paste unselectable text (even text in an image)
	     Alternative: http://rammichael.com/textify which is not yet packaged -->
	<package id="capture2text" />
</packages>
