<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="launchy-beta" />
	<package id="7zip" />
	<package id="git" />

	<!-- plugin for cmd.exe to support bash / readline like behaviour -->
	<package id="clink" />

	<!-- console emulator for windows, supports tabs and much more -->
	<package id="ConEmu" />

	<!-- Freeware replacement for windows search -->
	<package id="everything" />

	<!-- Very fast command line search tool similar to grep -->
	<package id="ripgrep" />

	<!-- Screenshot programm with a lots of additonal features -->
	<package id="greenshot" />

	<!-- Editors -->
	<package id="notepadplusplus" />
	<package id="vim" />

	<!-- fast and confortable way to edit enviroment variables -->
	<package id="rapidee" />

	<package id="sysinternals" />
	<package id="autoruns" />

	<package id="vlc" />

	<package id="keepass" />

	<!-- Makes it possible to copy&paste unselectable text -->
	<!-- <package id="capture2text" /> -->
	<package id="textify" />
</packages>
