<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="launchy-beta" />
	<package id="7zip" />
	<package id="jq" />
	<package id="powershell-core" />

	<!-- /WindowsTerminalProfile /NoAutoCrlf -->
	<package id="git" packageParameters="'/GitAndUnixToolsOnPath /WindowsTerminal /NoAutoCrlf /SChannel /WindowsTerminalProfile'" />

	<!--
	Allows to re-order preview icons in the taskbar for grouped elements,
	because it drives me cray when the physical location of the windows
	doesn't match the preview.
	E.g. having one `cmd` window on the left monitor and one `cmd` window on the
	right monitor, this program allows to rearange the cmd preview icons
	in the taskbar by drag and drop so that the left prieview corresponds
	to the left window.
	-->
	<package id="7-taskbar-tweaker" />

	<!-- plugin for cmd.exe to support bash / readline like behaviour -->
	<package id="clink-maintained" />

	<!-- console emulator for windows, supports tabs and much more -->
	<package id="ConEmu" />
	<package id="microsoft-windows-terminal" />

	<!-- Freeware replacement for windows search -->
	<package id="everything" />

	<!-- Very fast command line search tool similar to grep -->
	<package id="ripgrep" />

	<!-- Screenshot programm with a lots of additonal features -->
	<package id="greenshot" />

	<!-- Editors -->
	<package id="notepadplusplus" />
	<package id="vim" />
	<package id="vscode" />

	<package id="sysinternals" />
	<!-- TEST IF THIS IS INCLUDED IN sysinternals
	<package id="autoruns" /> 
	-->

	<package id="ffmpeg" />
	<package id="lossless-cut" />
	<package id="obs-studio" />
	<package id="vlc" />
	<package id="yt-dlp" />

	<package id="keepass" />

	<!-- explorer extension for improved "Copy Path", e.g. to copy the share instead of the mapped drive name -->
	<package id="path-copy-copy" />

	<!-- Makes it possible to copy&paste unselectable text -->
	<!-- <package id="capture2text" /> -->
	<package id="textify" />

	<!-- Alternative clock which can show the date even with small taskbar icons -->
	<package id="t-clock" />

	<package id="gimp" />
	<package id="paint.net" />
	<package id="drawio" />

	<package id="wiztree" />
	<package id="treesizefree" />
	<package id="advancedrun" />
	<package id="nsudo" />
	<package id="powertoys" />


	<package id="rclone.portable" />
</packages>
