<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="kdiff3" />
	<package id="winmerge" />
	<package id="dependencywalker" />
	<package id="dnspy" />
	<package id="fusionplusplus" />
	<package id="msbuild-structured-log-viewer" />
	<package id="nuget.commandline" />

	<!-- linter for bash/shell scripts; has VSCode integration via extension "shellcheck" -->
	<package id="shellcheck" />
</packages>
