<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="kdiff3" />
	<package id="winmerge" />

	<package id="pandoc" />

	<!-- debug .NET assembly binding logs; fusionplusplus is an improved rewrite -->
	<package id="dependencywalker" />
	<package id="fusionplusplus" />

	<package id="dnspy" />
	<package id="fusionplusplus" />
	<package id="msbuild-structured-log-viewer" />
	<package id="nuget.commandline" />
	<package id="NugetPackageExplorer" />

	<!-- linter for bash/shell scripts; has VSCode integration via extension "shellcheck" -->
	<package id="shellcheck" />

	<!-- git stuff -->
	<package id="gitui" />
	<package id="git-sizer" />
	<package id="lazygit" />

	<!-- performance benchmark tool -->
	<package id="hyperfine" />

	<!-- network performance measurement -->
	<package id="iperf3" />

	<!-- test REST APIs -->
	<package id="insomnia-rest-api-client" />
	<package id="postman" />

</packages>
